  /* UNIVERSAL */



  body {
    font-family: "Montserrat";
  }


    h1 {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 3rem;
      line-height: 1.5;
      font-weight: 900;
    }

    h2 {
      font-family: 'Montserrat';
      font-weight: 900;
      font-size: 3rem;
      line-height: 1.5;
    }

    #title {
      background-color: #ff4c68;
      color: #fff;
    }

    .container-fluid {
      padding: 3% 15%;
    }



    /* NAV BAR */

    .navbar {
      padding: 0 0 4.5rem;
    }


    .navbar-brand {
      font-family: "Ubuntu", "sans-serif";
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: bold;

    }

    .nav-item {
      padding: 0 18px;
    }

    .nav-link {
      font-size: 1.2rem;
      font-family: "Montserrat";
      font-weight: 100;
    }


    /* DOWNLOAD BUTTONS  */

    .download-button {
      margin: 5% 3% 5% 0;
    }


    /* TITLE IMG  */
    .container-fluid {
      padding: 3% 15% 7%;
    }


    .rotate {
      transform: rotate(25deg);
      width: 60%;
      position: relative;
      top: 170px;
      left: 20px;
      z-index: 0;
    }


    /* FEATURES SECTION */

      #features {
        text-align: center;
        background-color: white;
        position: relative;
        z-index: 2;

      }



      .features-h3 {
        font-family: "Montserrat";
        font-weight: 900;
        font-size: 1.5rem;
        padding: 7% 15%;
      }

      .features-p {
        color: #8f8f8f;
        padding: 7% 15%;
      }

      .features-icon {
        color: #ef8172;
        padding: 7% 15%;



      }

      .features-icon:hover {
        color: #ff4c68;

      }


      /* TESTIMONIAL SECTION */


      #testimonials {

        text-align: center;
        background-color: #ef8172;
        color: #fff;
      }


      .testimonial-img {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
      }

      .carousel-item {
        padding: 7% 15%;
      }


      /* PRESS SECTION */


      #press {
        background-color: #ef8172;
        text-align: center;
        padding-bottom: 3%;


      }

      .press-img {
        width: 15%;
        margin: 20px 20px 50px;
      }


      /* PRICING SECTION */

      #pricing {
        padding: 100px;
        text-align: center;

      }

      .pricing-column {
        padding: 3% 2%;
      }


      /* CTA SECTION  */

      #cta {
        background-color: #ff4c68;
        color: white;
        text-align: center;
        padding: 100px 0 100px 0;
      }

      .cta-h3 {
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 2rem;
      }

      .cta-btn {
        margin: 50px 20px 0 20px;
      }

      .fab-cta {
        padding-right: 5px;
      }


      /* FOOTER SECTION */

      #footer {
        background-color: #fff;
        text-align: center;
        margin: 100px 0 100px 0;

      }
      .footer-fab {
        display: inline;
        padding: 5px;
      }

      @media (max-width: 900px) {

        #title {
          text-align: center;
        }

        .rotate {
          position: static;
          transform: rotate(0deg);

        }
      }
